beautifulsoup4==4.9.1
blinker==1.4
cssmin==0.2.0
cssprefixer==1.4.1
cssutils==1.0.2
docutils==0.16
feedgenerator==1.9.1
gitdb==4.0.5
Jinja2==2.11.2
lxml==4.5.2
Markdown==3.1.1
MarkupSafe==1.1.1
pelican==4.5.4
Pillow==7.2.0
Pygments==2.6.1
pysvg-py3==0.2.2.post3
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
smartypants==2.0.1
smmap==3.0.4
soupsieve==2.0.1
typogrify==2.0.7
Unidecode==1.1.1
webassets==2.0
