appdirs==1.4.4
beautifulsoup4==4.9.3
black==21.6b0
blinker==1.4
click==8.0.1
cssprefixer==1.4.1
cssutils==2.3.0
docutils==0.17.1
feedgenerator==1.9.1
gitdb==4.0.7
GitPython==3.1.17
invoke==1.6.0
Jinja2==3.0.1
livereload==2.6.3
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.1
pelican==4.6.0
pelican-series==2.1.0
pelican-webassets==2.0.0
Pillow==8.2.0
pip-review==1.1.0
pkg_resources==0.0.0
Pygments==2.9.0
pyparsing==2.4.7
pysvg-py3==0.2.2.post3
python-dateutil==2.8.1
pytz==2021.1
rcssmin==1.0.6
regex==2021.4.4
six==1.16.0
smartypants==2.0.1
smmap==4.0.0
soupsieve==2.2.1
toml==0.10.2
tornado==6.1
typogrify==2.0.7
Unidecode==1.2.0
webassets==2.0
