argparse==1.2.1
beautifulsoup4==4.4.1
blinker==1.4
cssmin==0.2.0
cssprefixer==1.4.1
cssutils==1.0.1
docutils==0.12
feedgenerator==1.7
Jinja2==2.8
lxml==3.5.0
MarkupSafe==0.23
nltk==3.1
pelican==3.6.3
Pillow==3.0.0
pretty==0.1
Pygments==2.0.2
python-dateutil==2.4.2
pytz==2015.7
PyYAML==3.11
six==1.10.0
smartypants==1.8.6
typogrify==2.0.7
Unidecode==0.04.18
webassets==0.11.1
wsgiref==0.1.2
