/* Styling for elements */
body {
    font-family: 'Bitter', Georgia, serif;
    font-size: 100%;
    line-height: 1.5;
}
p {
    margin: 0.8em 0;
    text-align: justify;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
a {
    color: #0A5693;
}
a:hover {
    text-decoration: underline;
}

ul {
    margin: 0.8em 1.5em;
}
li {
    line-height: 1.5;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', Georgia, serif; font-weight: normal;
    color: #001;
    /*margin-bottom: 0px;*/
    line-height: 1;
}
h1 {
    font-size: 300%;
}

.table th, .table td { line-height: 1.3; }


/* Classes for Typographics Niceties */
.amp {
    font-family: 'Gabriela', sans-serif;
    color: #666;
    /*font-style: italic;*/
}
.caps {
    font-size: 0.92em;
    font-variant: small-caps;
}
.day_suffix {
    vertical-align: super;
    font-size: 70%;
}

.smallprint {
    font-size: 85%;
    font-style: italic;
    line-height: 1.25;
}


/* Styling for Nav bar. Bg color, link color etc */

.blog-header,
.blog-footer {
    padding: 16px 0;
    background: #2C71B8 url(/static/images/blueprint-background.png) repeat;
    color: #fff;
    margin-bottom: 1em;
}
.blog-header a {
    color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
}
.blog-header .nav li a:hover {
    background-color: #2C71B8;
    border: 1px solid #fff;
}
.blog-header .nav li.active a {
    background-color: #fff;
    color: #2C71B8;
}
/* Currently used in the site header */
.brand {
    font-family: 'Droid Serif', Georgia, serif;
    font-weight: normal;
    font-size: 420%;
    line-height: 1;
    margin-top: 0.2em;
    display: block;
    /*color: #001;*/
    color: #fff;
}

.navbar .nav > li > a { color: #FF0F00; }
.navbar .divider-vertical { border-right: 1px solid #4D4D4D; }
.navbar { margin-bottom: 4em; background-color: rgba(0,0,0,0); }

#blog-nav {
    padding: 5px 0;
    font-size:16px;
    margin-top: 10px;
}

/* Footer */
.blog-footer {
    padding: 1em 2em;
    margin: 1em 0 0 0;
}
.blog-footer a {
    color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
}
.blog-footer .nav li a:hover {
    background-color: #2C71B8;
    border: 1px solid #fff;
}
.blog-footer .nav li.active a {
    background-color: #fff;
    color: #2C71B8;
}
.blog-footer li {
    text-align: left;
    line-height: 1;
    margin-bottom: 0;
}
.blog-footer p small {
    font-size: 75%;
}
.blog-footer #socialist {
    width: 19%;
}

.nav-header {
    font-family: sans-serif;
    padding-left: 0;
}
.nav-list {
    padding: 0;
    margin-top: 0;
    margin-right: 0;
}
.nav-list li a {
    padding-right: 0;
    color: #fff;
    text-shadow: none;
}
.nav-list li i {
    color: #1f334b;
    color: #E8E8E8;
}
.blog-footer h4 {
    /*font-family: 'Droid Serif', Georgia, serif;*/
    font-size: 100%;
    padding-left: 0;
    margin: 0 0 0.2em 0;
    color: #fff;
    text-shadow: none;
}
.blog-footer hr {
    /*width: 90%;*/
    margin: 1em 0 0 0;
}

#colophon {
    padding-left: 1em;
}
#colophon p {
    margin: 0;
    font-size: 90%;
    font-style: italic;
    line-height: 1.25;
}
#colophon p a:hover {
    text-decoration: none;
}
#colophon .amp {
    color: #fff;
}

/* Styling for articles */

.article { padding-bottom:15px; padding-right: 40px; }
.content-title { margin: 0.2em 0 0.2em 0; padding-right: 0.2em; }

.article-sidebar {
    text-align: left;
    color: #888;
    font-size: 95%;
}
.article-sidebar .span10 {
    margin-left: 0;
}
.article-sidebar p {
    text-align: left;
    margin: 0 0 0.5em 0;
}
.article-sidebar p + ul {
    margin-bottom: 0;
}
.article-sidebar .tag-list{
    margin: 0;
    padding: 0;
}
.article-sidebar .tag-list .tag {
    padding: 0;
    float: none;
    clear: both;
}

.article-sidebar .contents ul {
    margin: 0;
    list-style-type: none;
}
.article-sidebar .contents ul li {
    line-height: 1.2;
}
.article-sidebar .contents ul li a {
    color: #aaa;
}
.article-sidebar .contents ul ul {
    margin: 0 0 0.5em 0.7em;
    /*list-style-type: circle;*/
}
.article-sidebar nav {
    margin-top: 0.5em;
}

.content blockquote,
.content blockquote p {
    font-size: 0.9rem;
    font-style: italic;
}

/* Styles for article footnotes */
.content table.footnote {
    font-size: 95%;
}
.content .footnote-reference {
    font-size: 75%;
    vertical-align: top;
    margin-left: -0.2em;
}
.content .footnote td {
    border: none;
    text-align: left;
}
.content .footnote td.label {
    background-color: #fff;
    text-shadow: none;
    border-radius: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

.content dd {
    margin: 0.2em 0 0.3em 1.5em;
}
.content dd ul {
    margin: 0.2em 0 0.3em 1em;
}

/* Styles for Figures & Images */

.content img {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 4px;
    float: left;
    margin: 1em 1em 1em 0;
    box-shadow: 4px 4px 4px 0px rgba(128, 128, 128, 0.5);
}
.content img.align-right {
    float: right;
    margin: 1em 0 1em 1em;
}

.content img.bare {
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
}

.content .figure {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 4px;
    float: left;
    margin: 0 1em 1em 0;
    box-shadow: 4px 4px 4px 0px rgba(128, 128, 128, 0.5);
    background: #fff;
}
.content .figure.align-right {
    float: right;
    margin: 0 0 1em 1em;
}
.content .figure.align-left {
    float: left;
}
.content .figure img {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;

    float: left;
}
.content .figure p.caption {
    margin: 0;
    font-size: 80%;
    padding: 4px;
    float: left;
    text-align: left;
}
.content .figure div.legend {
    padding: 4px;
    font-size: 80%;
    color: #aaa;
    font-style: italic;

    float: left;
}
.legend .amp {
    color: #bbb;
}

/* Styles for tables */
.content table {
    border-collapse: collapse;
    border: none;
    width: 100%;
}
.content th {
    border: none;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #fff;
    /*text-transform: capitalize;*/
    /*font-variant: small-caps;*/
}
.content td {
    border: none;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid #fff;
    text-align: center;
}

/* Styles for Admonitions: http://docutils.sourceforge.net/docs/ref/rst/directives.html#admonitions */
.content div.note,
.content div.caution {
    padding: 0.25em 1em;
    background: #2C71B8 url(/static/images/blueprint-background.png);
    color: #fff;
    border: 1px solid #3C7CBD;
    border-radius: 4px;
}
.content .admonition-title {
    font-size: 150%;
    font-weight: bold;
    margin: 0.1em 0 0 0;
}
.content div.note .amp,
.content div.caution .amp {
    color: #fff;
}

/* Any image that directly follows a paragraph inside a .content element */
.content p+img {
    margin-top: 0;
}

/* Styles for Code & literals */
.highlight pre {
    font-family: 'PT Mono', Monaco, Menlo, Consolas, 'Courier New', monospace;
    background-color: #090916;
    color: #f8f8f2;
    font-size: 90%;
}
tt.literal {
    font-family: 'PT Mono', Monaco, Menlo, Consolas, 'Courier New', monospace;
    background-color: #DEDEDE;
    font-size: 110%;
    padding: 0.15em 0.2em 0 0.2em;
    border-radius: 3px;
    line-height: 1;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content hr {
    clear: both;
    float: none;
}
.content h2 {
    font-size: 225%;
}

.content hr {
    border-top: 1px solid #bbb;
    text-align: center;
    margin: 2em 0 0 0;
}
.content hr:after {
    color: #aaa;
    font-family: 'Gabriela', sans-serif;
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.9em;
    padding: 0 0.25em;
    background: white;
}

/* Styling for the "other entries" section */

/* Metadata */
.well.small { padding: 6px 6px 4px; }

/* Read more button */
.btn-info.xsmall {
    padding: 1px 3px 1px;
    font-size: 11px;
    float: right;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Article summary */
.summary { margin-bottom: 2em; margin-top: 0.8em; font-size: 16px; line-height: 1.2em; }


/* Styles for Tags */
.tag-list{
    margin: 1em 0 1em 0;
    padding: 0 0 1em 0;
    clear: both;
    float: none;
}
.tag-list .tag {
    float: left;
    list-style-type: none;
}
.tag {
    padding: 0.3em 0.5em;
}
.tag .muted {
    color: #bbb;
}

/* Styles for the Archives */
.archive-year {
    text-align: right;
}
table.archive td {
    text-align: left;
}
table.archive td h4 {
    margin: 0;
}
table.archive td p {
    margin: 0.2em 0;
}

/* Styles for my CV */

.hresume h1,
.hresume h2,
.hresume h3 {
    clear: none;
}
.hresume .summary {
    margin-bottom: inherit;
    margin-top: inherit;
    font-size: inherit;
    line-height: inherit;
}
.hresume .boxout {
    float: right;
    clear: right;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
    margin: 0 0 1em 1em;
    background-color: #efefef;
}
.hresume .boxout address,
.hresume .boxout dl {
    margin: 0 auto 0 auto;
}
.hresume .boxout i {
    color: #bbb;
}

.hresume .experience h4 {
    font-weight: bold;
}
.hresume .experience .smallprint p {
    text-align: right;
}
.hresume .experience .job_description p {
    line-height: 1.3;
}

/*-----------------------------

    Responsive stuff

-------------------------------*/

/* Large desktop */
@media screen and (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
    #socialist { display: table-footer-group; }
    #colophon { display: table-header-group; }
    #sitelinks { display: table-footer-group; }

    .article-content {
        clear: both;
    }
    .brand {
        font-size: 250%;
        padding-left: 0.5em;
    }
    .blog-header {
        padding: 0;
    }
    #blog-nav {
        padding: 0;
        margin-top: 0;
    }
}

/* Landscape phones and down */
@media screen and (max-width: 480px) {
    .brand {
        font-size: 200%;
    }
    h1 {
        font-size: 200%;
    }
    .article-sidebar p.tag_heading,
    .article-sidebar ul {
        display: inline;
    }
    .article-sidebar .tag-list .tag {
        float: none;
        display: inline-block;
        list-style-type: none;
    }

    .hresume .boxout {
        width: 90%;
    }
}

@media print {
    * {
        color: inherit !important;
    }

    abbr,
    abbr[title],
    abbr[data-original-title] {
        border: none;
    }

    h1, h2, h3, h4 {
        font-weight: bold;
    }
}