{% extends "base.html" %}
{% block title %}Archive | {{ SITENAME }}{% endblock %}
{% block content %}

<h1>Archive</h1>

{% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
    <h2 class="archive-year">{{ year }}</h2>
    {% for month, date_month in dates|groupby( 'date.month' )|sort(reverse=True) %}
        <h3>{{ month|month_name }}</h3>
        <table class="table table-striped">
            <tbody>
            {% for article in date_month %}
                <tr>
                    <td>{{ article.date|archive_date_format }}</td>
                    <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endfor %}

{% endblock %}
