{% extends "base.html" %}
{% block title %}{{ SITENAME }}: Archive{% endblock %}
{% block content %}

<h1>Archive</h1>

{% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
    <h2 class="archive-year">{{ year }}</h2>
    {% for month, date_month in dates|groupby( 'date.month' )|sort(reverse=True) %}
        <h3>{{ month|month_name }}</h3>
        <table class="table table-striped archive">
            <col style="width: 20%; text-align: right;">
            <col style="width: 80%">
            <tbody>
            {% for article in date_month %}
                <tr>
                    <td>
                        {{ article.date|archive_date_format }}<br />
                        <span class="muted smallprint">{{ article.stats['read_mins'] }} min read</span>
                    </td>
                    <td>
                        <h4><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></h4>
                        <p class="muted smallprint">{{ article.meta_description }}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    <hr />
{% endfor %}

{% endblock %}
