{% extends "base.html" %}

{% block pageschema %}{{ article.schema|d(DEFAULT_PAGESCHEMA) }}{% endblock %}

{% block metaimage %}{{ SITEURL }}{{ article.thumbnail|d('/static/images/favicon-128x128.png') }}{% endblock %}

{% block title %}{{ article.title|striptags }}: {{ SITENAME }}{% endblock %}
{% block description %}{{ article.meta_description|d(article.summary|striptags|striptags|striptags) }}{% endblock %}
{% block twittercard %}
{% if article.thumbnail %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ SITEURL }}{{ article.thumbnail }}">
{% else %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ SITEURL }}/static/images/favicon-128x128.png">
{% endif %}
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:title" content="{{ article.title|striptags }}">
    <meta name="twitter:description" content="{{ article.meta_description|d(article.summary|striptags|striptags|striptags) }}">
    <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:domain" content="{{ SITE_DOMAIN }}">
{% endblock %}
{% block opengraph %}
{% if article.thumbnail %}
    <meta property="og:image" content="{{ SITEURL }}{{ article.thumbnail }}"/>
{% else %}
    <meta property="og:image" content="{{ SITEURL }}/static/images/favicon-128x128.png"/>
{% endif %}
    <meta property="og:site_name" content="{{ SITENAME }}"/>
    <meta property="og:title" content="{{ article.title|striptags }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="{{ article.meta_description|d(article.summary|striptags|striptags|striptags) }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
{% endblock %}

{% block content %}
<article class="article">
    <div class="row-fluid">
        <div class="content-title span11">
            <h1 itemprop="name headline">{{ article.title }}</h1>
        </div>
    </div>

    <div class="row-fluid">
        <aside class="article-sidebar span3">
            {% include "article-sidebar.html" %}
            {% include "article-sidebar-multipart.html" %}
            {% include "article-sidebar-toc.html" %}
        </aside>

        <section class="content span9" itemprop="text articleBody">

            {{ article.content }}

            <hr />

            {% if article.related_posts %}
            <div class="row-fluid">
                <div class="realted_posts span11">
                    {% if article.metadata.parts_articles %}
                    <h3>This post is part of a series - read the rest:</h3>
                        <nav>
                            <dl class="parts">
                            {% for part_article in article.metadata.parts_articles %}
                                <dt {% if part_article == article %}class="active"{% endif %}>
                                    {% if part_article == article %}
                                    <h4>{{ part_article.title }}</h4>
                                    {% else %}
                                    <h4><a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a></h4>
                                    {% endif %}
                                </dt>
                                <dd><span class="smallprint muted">{{ part_article.meta_description }}</span></dd>
                            {% endfor %}
                            </dl>
                        </nav>
                    {% else %}
                    <h3>Related Posts</h3>
                        <nav>
                            <dl>
                            {% for related_post in article.related_posts %}
                                <dt><h4><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></h4></dt>
                                <dd><span class="smallprint muted">{{ related_post.meta_description }}</span></dd>
                            {% endfor %}
                            </dl>
                        </nav>
                    {% endif %}
                </div>
            </div>
            <hr />
            {% endif %}

            <div class="row-fluid">
                <h3 id="article-comments-section">Comments</h3>
                {% include 'disqus.html' %}
            </div>
        </section>
    </div>

</article>
{% endblock %}
