<div class="row-fluid">
    <div class="span10">
        <p>
            <span itemprop="datePublished" title="{{ article.date.isoformat() }}">{{ article.date|sidebar_date_format }}</span> <br />
            <span itemprop="dateModified" class="hidden">{{ article.last_modified_date.isoformat() }}</span> by
            <span class="post-author vcard">
                <span class="fn" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                    <span itemprop="name">{{ article.author }}</span>
                </span>
            </span>
        </p>
        <p title="{{ article.stats['wc'] }} words"><i class="muted icon-clock"></i>{{ article.stats['read_mins'] }} min read</p>
        <span itemprop="timeRequired" class="hidden">P{{ article.stats['read_mins'] }}M</span>
        <span itemprop="wordCount" class="hidden">{{ article.stats['wc'] }}</span>

        <p>Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
    </div>

    <div class="span10">
        <p class="tag_heading">Tags:</p>
        <ul class="tag-list">
        {% for tag in article.tags|sort %}
            <li class="tag"><i class="icon-tags muted"></i><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </div>

    {% if TWITTER_USERNAME and ARTICLE_TWEET_BUTTON %}
        <div class="span10 social_widgets">
            <br />
            {% include "twitter.html" %}
        </div>
    {% endif %}
    {% if ARTICLE_GOOGLEPLUS_BUTTON %}
        <div class="span10">
            {% include "googleplus.html" %}
        </div>
    {% endif %}
</div>