<div class="row-fluid">
    <div class="span10">
        <p>
            {{ article.date|sidebar_date_format }} <br />
            by {{ article.author }}
        </p>

        <p>Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
    </div>
    <div class="span10">
        <p class="tag_heading">Tags:</p>
        <ul class="tag-list">
        {% for tag in article.tags|sort %}
            <li class="tag"><i class="icon-tags muted"></i><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>

        <p>
        {% if TWITTER_USERNAME and ARTICLE_TWEET_BUTTON %}
            <br />
            {% include "twitter.html" %}
        {% endif %}
        {% if ARTICLE_GOOGLEPLUS_BUTTON %}
            <br />
            {% include "googleplus.html" %}
        {% endif %}
        </p>
    </div>
</div>