{% if article.metadata.parts_articles %}
    <div class="row-fluid">
        <nav>
            <p>This post is part of a series:</p>
            <ol class="parts">
            {% for part_article in article.metadata.parts_articles %}
                <li {% if part_article == article %}class="active"{% endif %}>
                    {% if part_article == article %}
                    {{ part_article.title }}
                    {% else %}
                    <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ol>
        </nav>
    </div>
{% endif %}