{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}: {{ SITENAME }}{% endblock %}
{% block description %}{{ article.meta_description|d(article.summary|striptags|striptags|striptags) }}{% endblock %}
{% block twittercard %}
{% if article.thumbnail %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ SITEURL }}{{ article.thumbnail }}">
{% else %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ SITEURL }}static/images/favicon-128x128.png">
{% endif %}
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:title" content="{{ article.title|striptags }}">
    <meta name="twitter:description" content="{{ article.meta_description|d(article.summary|striptags|striptags|striptags) }}">
    <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:domain" content="{{ SITE_DOMAIN }}">
{% endblock %}
{% block content %}
<div class='article'>
    <div class="row-fluid">
        <div class="content-title span11">
            <h1>{{ article.title }}</h1>
        </div>
    </div>

    <div class="row-fluid">
        <div class="article-sidebar span3">
            {% include "article-sidebar.html" %}
            {% include "article-sidebar-toc.html" %}
        </div>

        <section class="content span9">
            {{ article.content }}

            <hr />

            {% if article.related_posts %}
            <div class="row-fluid">
                <div class="realted_posts span11">
                    <h3>Related Posts</h3>
                    <dl>
                    {% for related_post in article.related_posts %}
                        <dt><h4><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></h4></dt>
                        <dd><span class="smallprint muted">{{ related_post.meta_description }}</span></dd>
                    {% endfor %}
                    </dl>
                </div>
            </div>
            {% endif %}

            <div class="row-fluid">
                <h3 id="article-comments-section">Comments</h3>
                {% include 'disqus.html' %}
            </div>
        </section>
    </div>

</div>
{% endblock %}
