{% extends "base.html" %}
{% block title %}{{ page.title }} : {{ SITENAME }}{% endblock %}
{% block description %}{{ page.meta_description|d(page.summary|striptags) }}{% endblock %}
{% block twittercard %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:title" content="{{ page.title|striptags }}">
    <meta name="twitter:description" content="{{ page.meta_description }}">
    <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:image" content="{{ SITEURL }}/favicon.png">
    <meta name="twitter:domain" content="{{ SITE_DOMAIN }}">
{% endblock %}
{% block content %}
<section class="body span11 content">
    <h1 class="content-title">{{ page.title }}</h1>
    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">Get the pdf</a>{% endif %}
    {{ page.content }}
</section>
{% endblock %}
