# Add Expires header to all images, css and js
<IfModule mod_expires.c>
  <FilesMatch "\.(gif|jpg|jpeg|png|swf|css|js|html?|xml|txt|ico)$">
    ExpiresActive On
    ExpiresDefault "access plus 1 years"
  </FilesMatch>
</IfModule>
<ifModule mod_headers.c>
  Header unset ETag
  Header unset Last-Modified
</ifModule>

<IfModule mod_deflate.c>
  <FilesMatch "\.(css|js|x?html?|php)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>
<IfModule mod_gzip.c>
    mod_gzip_on                                     Yes
    mod_gzip_can_negotiate                          Yes
    mod_gzip_static_suffix                          .gz
    AddEncoding                     gzip            .gz
    mod_gzip_update_static                          No
    mod_gzip_command_version                        '/mod_gzip_status'
    mod_gzip_keep_workfiles                         No
    mod_gzip_minimum_file_size                      512
    mod_gzip_maximum_file_size                      1048576
    mod_gzip_maximum_inmem_size                     60000
    mod_gzip_min_http                               1000
    mod_gzip_handle_methods                         GET POST

    mod_gzip_item_include           mime            ^text/.*
    mod_gzip_item_include           mime            ^httpd/unix-directory$
    mod_gzip_item_include           file            \.shtml$
    mod_gzip_item_include           file            \.html$
    mod_gzip_item_include           mime            ^application/x-javascript$
    mod_gzip_item_include           mime            ^application/javascript$
    mod_gzip_item_include           file            \.js$
    mod_gzip_item_include           file            \.css$
    mod_gzip_item_include           mime            ^application/x-httpd-php$
    mod_gzip_item_include           file            \.php$
    mod_gzip_item_include           handler         ^cgi-script$

    mod_gzip_dechunk                                Yes

    # DO NOT WASTE TIME COMPRESSING IMAGES
    mod_gzip_item_exclude           mime            ^image/.$
    mod_gzip_item_exclude           mime            ^image/
    mod_gzip_item_exclude           rspheader       Content-Type:image/*
</IfModule>
